&simulationname
    runid='test'
/

&timestep
    step_per_day=48
    run_length=530
    run_length_unit='d'
/

&clockinit
    timenew=0.0
    daynew=105
    yearnew=2019
/

&meshproperties
    meshname='REcoM1D_mesh_v2.nc'
/

&forcingproperties
    forcingname='REcoM1D_forcing_v2.nc'
    atmdepositionname='atm_deposition_v2.nc'
    tracerinitname='tracer_initialization.nc'
/

&diagnostics
    diag_freq       = 1          !only required for d,h,s cases,  y, m take 1
    diag_freq_unit  = 'd'        !output period: y,  d, h, s 
/

&calendar
    include_fleapyear=.true.
/


