&simulationname
    runid='test'
/

&timestep
step_per_day=24
run_length=300
run_length_unit='d'
/

&clockinit
    timenew=0.0
    daynew=220
    yearnew=2019
/

&meshproperties
    meshname='REcoM1D_mesh.nc'
/

&forcingproperties
    forcingname='REcoM1D_forcing.nc'
    atmdepositionname='atm_deposition.nc'
/

&calendar
    include_fleapyear=.true.
/
